{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'product_list.css' %}">
{% endblock %}

{% block content %}
    <div class="items-container">
        {% for product in products %}
            <div class="item-card">
                <a href="{% url 'product_details' product.id %}">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="item-image">
                </a>
                <a href="{% url 'product_details' product.id %}" class="item-title">{{ product.name }}</a>
                <p class="item-price">{{ product.price }} zł</p>
                <p class="item-category">{{ product.category.name }}</p>
                <p class="item-description">
                    {{ product.description|truncatechars:60 }}
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
